.box{
    width: 150px;
    height: 150px;
    background-color: rgb(143, 143, 238);
    display: flex;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.myClass {
    background-color: #d89999;
    margin-top: 50px;
}