<br><br>
<p><b>Str Intr</b></p>
<input type="text" name="" id="" value="{{dynamicText}}">

<br><br>

<input type="text" name="" id ="" value="{{dynamicText}}" disabled="false">

<br><br>

<input type="text" name="" id ="" value="{{dynamicText}}" disabled="true">

<br><br><br><br>

<p><b>Prop Binding</b></p>
<input type="text" name="" id="" [value]="dynamicText">

<br><br>

<input type="text" name="" id="" bind-value="dynamicText" [disabled]="true">

<br><br>

<input type="text" name="" id="" bind-value="dynamicText" [disabled]="false">

<br><br><br><br>

<input type="text" name="" id="" hidden="false" [value]="dynamicText">

<input type="text" name="" id="" hidden="true" [value]="dynamicText">

<input type="text" name="" id="" [hidden]="!hidden" [value]="dynamicText">