<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>Sr. No</th>
            <th>Product Image</th>
            <th>Product Name</th>
            <th>Product ID</th>
            <th>Product Price</th>
          </tr>
        </thead>

        <thead class="thead">
          <tr *ngFor="let myPro of products; index as i">
            <td># {{ i + 1 }}</td>
            <td>
              <img src="{{ myPro.proImgURL }}" width="200px" height="200px" />
            </td>
            <td>{{ myPro.proName }}</td>
            <td>{{ myPro.id }}</td>
            <td>{{ myPro.price }}</td>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>

<br />
<br />
<br />
<br />

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <input
        type="text"
        name=""
        class="form-control"
        placeholder="Enter Username"
        #uname
      />
      <input
        type="number"
        name=""
        class="form-control"
        placeholder="Enter Age"
        #uage
      />
    </div>
    <div class="col-md-3">
      <button class="btn btn-primary" (click)="onCreateUser(uname, uage)">
        Create User
      </button>

      <button class="btn btn-dark" (click)="onDeleteAllUser()">Delete All Users</button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Age</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let user of users; index as i">
            
            <td>
              {{ user.name }}
            </td>
            <td>
              {{ user.age }}
            </td>
            <td>
              <button class="btn btn-danger" (click)="onRemoveUser(i)">Remove</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>