.string_interpolation {
  text-align: center;

  font-family: sans-serif;
  color: rgb(173, 229, 51);
  background-color: rgb(45, 44, 44);
  padding: 5px 0;

  h3 {
    font-weight: 400;
    font-size: 22px;
  }
}
