<div class="page-area">
  <h2>Contact</h2>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore
    praesentium, aliquam alias magni suscipit ab, obcaecati ad dolores omnis
    atque facere nostrum tenetur culpa maxime veritatis voluptatem. Accusantium,
    earum voluptate!
  </p>

  <div class="row">
    <div class="col-md-6">
      <app-card>
        <h5 class="card-title">Laptop</h5>
        <a routerLink="laptop" class="btn btn-primary">Checkout Laptop!</a>
      </app-card>
    </div>
    <div class="col-md-6">
      <app-card>
        <h5 class="card-title">TV</h5>
        <a routerLink="laptop" class="btn btn-primary">Checkout TV!</a>
      </app-card>
    </div>
    <div class="col-md-6">
      <app-card>
        <h5 class="card-title">Mobile</h5>
        <a routerLink="laptop" class="btn btn-primary">Checkout Mobile!</a>
      </app-card>
    </div>
    <div class="col-md-6">
      <app-card>
        <h5 class="card-title">Washing Machine</h5>
        <a routerLink="laptop" class="btn btn-primary"
          >Checkout Washing Machine!</a
        >
      </app-card>
    </div>
  </div>
</div>
