.container {
  display: flex;
  flex-direction: column;
  width: 20rem;
  margin: 0 auto;
  margin-top: 35vh;
  font-family: sans-serif;
}

.container h2 {
  text-align: center;
}

.container input {
  margin: 0.7rem 0;
  padding: 0.7rem;
  border-bottom: 3px solid red;
}
